main {
	
	text-align: center;
}

.container {
	width: 800px;
	height: 500px;
	font-size: 0;
	display: inline-block;
}

.inner {
	display: inline-block;
	border: 1px black solid;
}

.one {
	background-color: green;
	height: 200px;
	width: 50%;
}

.two {
	background-color: blue;
	height: 200px;
	width: 50%
}

.three {
	height: 300px;
	background-color: grey;
	width: 33.33%;
}

.four {
	height: 300px;
	background-color: black;
	width: 33.3%;
}

.five {
	background-color: orange;
	height: 300px;
	width: 33.33%
}
